<div class="header">
	<h1>CHAT APP</h1>
</div>

<div class="chat-body">
	
	<div class="msg-box">
		<%= render @messages %>	
		<div class="reply-box">
			<input type="text" name="reply" placeholder="your message">
			<button type="submit" name="reply" class="btn-submit">Send</button>
		</div>
	</div>
	
	<div class="status-box">
		
	</div>

</div>