<div class="navbar">
      
      <div class="left-elements">
        <%= link_to "Home", root_path%>
        <%= link_to "Messages", root_path%>
      </div>
      <div class="right-elements">
        <%= link_to "Login", login_path %>
        <%= link_to "Sign up", root_path%>
      </div>


</div>