<div class="navbar">
      
      <div class="left-elements">
        <a href="#">Home</a>
        <a href="#">Messages</a>
      </div>
      <div class="right-elements">
        <a href="#">login</a>
        <a href="#">aaa</a>
        <a href="#">Signup</a>
      </div>


</div>